<a href="https://colab.research.google.com/github/Chamara-g/datastorm-v1-0/blob/master/datastome_data_re_arrange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

mount drive

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

import lib

In [0]:
import numpy as np
import pandas as pd
import time

In [0]:
ds_path = 'drive/My Drive/Colab Notebooks/Data Storm 1.0 - Final Round /Data Set/'
ds_write_path = 'drive/My Drive/Colab Notebooks/datastorm/processed/'

In [20]:
!ls 'drive/My Drive/Colab Notebooks/Data Storm 1.0 - Final Round /Data Set'

'customer_data .csv'  'sales_detail .csv'  'sales_summary .csv'

read sales_detal and create df_sales_detal

In [0]:
df_sales_detal = pd.read_csv(ds_path + 'sales_detail .csv')

create new col

In [0]:
years = df_sales_detal["year"].unique()
categories = df_sales_detal["catagory_code"].unique()
columns = ["customer_id"]

for year in years:
  for month in range(1, 13):
    for cat in categories:
      columns.append(str(year) + "_" + str(month) + "_" + cat)

new df create

In [0]:
df_category = pd.DataFrame(columns=columns)
customer_ids = df_sales_detal['customer_id'].unique()
df_category.customer_id = customer_ids
df_category = df_category.set_index('customer_id')

In [24]:
start = time.process_time()

for index, row in df_sales_detal.iterrows():
  col_name = str(row.year) + "_" + str(row.month) + "_" + row.catagory_code
  df_category.xs(row.customer_id)[col_name] = row.total_spent_for_category


print(time.process_time() - start)

204.92853012400002

In [25]:
df_category.head()

            2017_1_B117 2017_1_B115  ... 2019_12_B122 2019_12_B125
customer_id                          ...
337134             4593         NaN  ...          NaN       224.37
950216              NaN         NaN  ...          NaN          NaN
824818              NaN         NaN  ...          NaN          NaN
547554              NaN       142.5  ...       171.36          NaN
176602            337.5         NaN  ...          NaN      1825.38

[5 rows x 720 columns]

In [0]:
df_category.to_csv(ds_write_path + 'sale_details_by_category.csv', encoding='utf-8', mode='w', index=True)

## *Processing sales summary*

In [0]:
df_sales_summary = pd.read_csv(ds_path + 'sales_summary .csv')

In [33]:
column_names = ['customer_id']

for year_value in ['2017', '2018', '2019']:
  for month_value in range(1,13):
    column_names.append(year_value + '_' + str(month_value) + '_' + 'weekend_amount_spent')
    column_names.append(year_value + '_' + str(month_value) + '_' + 'Num_of_weekend_visits')
    column_names.append(year_value + '_' + str(month_value) + '_' + 'total_amount_spent')
    column_names.append(year_value + '_' + str(month_value) + '_' + 'total_num_of_visits')

df_sales_summary_new = pd.DataFrame(columns = column_names)

['customer_id', '2017_1_weekend_amount_spent', '2017_1_Num_of_weekend_visits', '2017_1_total_amount_spent', '2017_1_total_num_of_visits', '2017_2_weekend_amount_spent', '2017_2_Num_of_weekend_visits', '2017_2_total_amount_spent', '2017_2_total_num_of_visits', '2017_3_weekend_amount_spent', '2017_3_Num_of_weekend_visits', '2017_3_total_amount_spent', '2017_3_total_num_of_visits', '2017_4_weekend_amount_spent', '2017_4_Num_of_weekend_visits', '2017_4_total_amount_spent', '2017_4_total_num_of_visits', '2017_5_weekend_amount_spent', '2017_5_Num_of_weekend_visits', '2017_5_total_amount_spent', '2017_5_total_num_of_visits', '2017_6_weekend_amount_spent', '2017_6_Num_of_weekend_visits', '2017_6_total_amount_spent', '2017_6_total_num_of_visits', '2017_7_weekend_amount_spent', '2017_7_Num_of_weekend_visits', '2017_7_total_amount_spent', '2017_7_total_num_of_visits', '2017_8_weekend_amount_spent', '2017_8_Num_of_weekend_visits', '2017_8_total_amount_spent', '2017_8_total_num_of_visits', '2017_9_weekend_amount_spent', '2017_9_Num_of_weekend_visits', '2017_9_total_amount_spent', '2017_9_total_num_of_visits', '2017_10_weekend_amount_spent', '2017_10_Num_of_weekend_visits', '2017_10_total_amount_spent', '2017_10_total_num_of_visits', '2017_11_weekend_amount_spent', '2017_11_Num_of_weekend_visits', '2017_11_total_amount_spent', '2017_11_total_num_of_visits', '2017_12_weekend_amount_spent', '2017_12_Num_of_weekend_visits', '2017_12_total_amount_spent', '2017_12_total_num_of_visits', '2018_1_weekend_amount_spent', '2018_1_Num_of_weekend_visits', '2018_1_total_amount_spent', '2018_1_total_num_of_visits', '2018_2_weekend_amount_spent', '2018_2_Num_of_weekend_visits', '2018_2_total_amount_spent', '2018_2_total_num_of_visits', '2018_3_weekend_amount_spent', '2018_3_Num_of_weekend_visits', '2018_3_total_amount_spent', '2018_3_total_num_of_visits', '2018_4_weekend_amount_spent', '2018_4_Num_of_weekend_visits', '2018_4_total_amount_spent', '2018_4_total_num_of_visits', '2018_5_weekend_amount_spent', '2018_5_Num_of_weekend_visits', '2018_5_total_amount_spent', '2018_5_total_num_of_visits', '2018_6_weekend_amount_spent', '2018_6_Num_of_weekend_visits', '2018_6_total_amount_spent', '2018_6_total_num_of_visits', '2018_7_weekend_amount_spent', '2018_7_Num_of_weekend_visits', '2018_7_total_amount_spent', '2018_7_total_num_of_visits', '2018_8_weekend_amount_spent', '2018_8_Num_of_weekend_visits', '2018_8_total_amount_spent', '2018_8_total_num_of_visits', '2018_9_weekend_amount_spent', '2018_9_Num_of_weekend_visits', '2018_9_total_amount_spent', '2018_9_total_num_of_visits', '2018_10_weekend_amount_spent', '2018_10_Num_of_weekend_visits', '2018_10_total_amount_spent', '2018_10_total_num_of_visits', '2018_11_weekend_amount_spent', '2018_11_Num_of_weekend_visits', '2018_11_total_amount_spent', '2018_11_total_num_of_visits', '2018_12_weekend_amount_spent', '2018_12_Num_of_weekend_visits', '2018_12_total_amount_spent', '2018_12_total_num_of_visits', '2019_1_weekend_amount_spent', '2019_1_Num_of_weekend_visits', '2019_1_total_amount_spent', '2019_1_total_num_of_visits', '2019_2_weekend_amount_spent', '2019_2_Num_of_weekend_visits', '2019_2_total_amount_spent', '2019_2_total_num_of_visits', '2019_3_weekend_amount_spent', '2019_3_Num_of_weekend_visits', '2019_3_total_amount_spent', '2019_3_total_num_of_visits', '2019_4_weekend_amount_spent', '2019_4_Num_of_weekend_visits', '2019_4_total_amount_spent', '2019_4_total_num_of_visits', '2019_5_weekend_amount_spent', '2019_5_Num_of_weekend_visits', '2019_5_total_amount_spent', '2019_5_total_num_of_visits', '2019_6_weekend_amount_spent', '2019_6_Num_of_weekend_visits', '2019_6_total_amount_spent', '2019_6_total_num_of_visits', '2019_7_weekend_amount_spent', '2019_7_Num_of_weekend_visits', '2019_7_total_amount_spent', '2019_7_total_num_of_visits', '2019_8_weekend_amount_spent', '2019_8_Num_of_weekend_visits', '2019_8_total_amount_spent', '2019_8_total_num_of_visits', '2019_9_weekend_amount_spent', '2019_9_Num_of_weekend_visits', '2019_9_total_amount_spent', '2019_9_total_num_of_visits', '2019_10_weekend_amount_spent', '2019_10_Num_of_weekend_visits', '2019_10_total_amount_spent', '2019_10_total_num_of_visits', '2019_11_weekend_amount_spent', '2019_11_Num_of_weekend_visits', '2019_11_total_amount_spent', '2019_11_total_num_of_visits', '2019_12_weekend_amount_spent', '2019_12_Num_of_weekend_visits', '2019_12_total_amount_spent', '2019_12_total_num_of_visits']

In [0]:
customer_ids_sales_summary = df_sales_summary.customer_id.unique()
df_sales_summary_new.customer_id = customer_ids_sales_summary
df_sales_summary_new = df_sales_summary_new.set_index('customer_id')

In [30]:
start = time.process_time()

for index, row in df_sales_summary.iterrows():
  col_name1 = str(row.year) + "_" + str(row.month) + "_weekend_amount_spent"
  col_name2 = str(row.year) + "_" + str(row.month) + "_Num_of_weekend_visits"
  col_name3 = str(row.year) + "_" + str(row.month) + "_total_amount_spent"
  col_name4 = str(row.year) + "_" + str(row.month) + "_total_num_of_visits"
  df_sales_summary_new.xs(row.customer_id)[col_name1] = row.weekend_amount_spent
  df_sales_summary_new.xs(row.customer_id)[col_name2] = row.Num_of_weekend_visits
  df_sales_summary_new.xs(row.customer_id)[col_name3] = row.total_amount_spent
  df_sales_summary_new.xs(row.customer_id)[col_name4] = row.total_num_of_visits


print(time.process_time() - start)

89.607978156

In [0]:
df_sales_summary_new.to_csv(ds_write_path + 'df_sales_summary_new.csv', encoding='utf-8', mode='w', index=True)

In [32]:
df_sales_summary_new.head()

            2017_1_weekend_amount_spent  ... 2019_12_total_num_of_visits
customer_id                              ...
519123                          5738.62  ...                           7
1181034                             NaN  ...                           3
510205                              NaN  ...                           7
1311201                             NaN  ...                           2
341451                          1084.75  ...                           2

[5 rows x 144 columns]